<header id="header" class="header header-hide">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="/" class="scrollto"><span>&lt;Dev</span>Jas/&gt;</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="<%= isActive('/') %>"><a href="/">Home</a></li>
        <li class="<%= isActive('/about') %>"><a href="/about">About</a></li>
        <li class="<%= isActive('/projects') %>"><a href="/projects">Projects</a></li>
        <li class="<%= isActive('/services') %>"><a href="/services">Services</a></li>
        <li class="<%= isActive('/contact') %>"><a href="/contact">Contact</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->